html {
    background-color: #C0C0C0;
}

body {
    width: 80%;
    margin: 0 auto;
    padding: 0;
    border: 1px solid #5EDDDD;
}

img {
    display: block;
    margin: 0 auto;
}
p, h1 {
    /* color: red  ; */
    border: 1px dashed red;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    text-align: center;
}

p {
    letter-spacing: 3px;
}